node_modules
npm-debug.log
dist
.env
.env.*
.DS_Store
*.log
coverage
.idea
.vscode
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.cache
.eslintcache
.prettierrc
.git
.gitignore
nvmrc
*.md
migrations
seeding
